In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql.functions import *

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('pyspark-examples') \
                    .getOrCreate()

In [20]:
data  = spark.read.options(delimiter=';',header=True,inferSchema=True).csv("bankmarketdata.csv")

In [21]:
data.show(5)

+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician| single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur|married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar|married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown| single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 5 rows

In [4]:
df = spark.read.option("header", "true").option("inferSchema", "true").csv("banking_data.csv")
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [5]:
df.show(truncate = False)

+---+----+------------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+----+
|_c0|age |job         |marital |education|default|balance|housing|loan|contact|day |month|duration|campaign|pdays|previous|poutcome|y   |
+---+----+------------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+----+
|1  |58  |management  |married |tertiary |no     |2143   |yes    |no  |unknown|5   |may  |261     |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|2  |44  |technician  |single  |secondary|no     |29     |yes    |no  |unknown|5   |may  |151     |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|3  |33  |entrepreneur|married |secondary|no     |2      |yes    |yes |unknown|5   |may  |76      |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|4  |47  |blue-collar |married |unknown  |no     |1506   |yes    |no  |unknown|5   |may  |92      |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|5  |33  |unknown     |single  |unknown  |no     |1      |no     |no  |unknown|5   |may  |198     |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|6  |35  |management  |married |tertiary |no     |231    |yes    |no  |unknown|5   |may  |139     |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|7  |28  |management  |single  |tertiary |no     |447    |yes    |yes |unknown|5   |may  |217     |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|8  |42  |entrepreneur|divorced|tertiary |yes    |2      |yes    |no  |unknown|5   |may  |380     |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|9  |58  |retired     |married |primary  |no     |121    |yes    |no  |unknown|5   |may  |50      |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|10 |43  |technician  |single  |secondary|no     |593    |yes    |no  |unknown|5   |may  |55      |1       |-1   |0       |unknown |no  |
|"  |null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
+---+----+------------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+----+
only showing top 20 rows

In [6]:
df = df.drop("_c0")

In [7]:
df.show(truncate = False)

+----+------------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+----+
|age |job         |marital |education|default|balance|housing|loan|contact|day |month|duration|campaign|pdays|previous|poutcome|y   |
+----+------------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+----+
|58  |management  |married |tertiary |no     |2143   |yes    |no  |unknown|5   |may  |261     |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|44  |technician  |single  |secondary|no     |29     |yes    |no  |unknown|5   |may  |151     |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|33  |entrepreneur|married |secondary|no     |2      |yes    |yes |unknown|5   |may  |76      |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|47  |blue-collar |married |unknown  |no     |1506   |yes    |no  |unknown|5   |may  |92      |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|33  |unknown     |single  |unknown  |no     |1      |no     |no  |unknown|5   |may  |198     |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|35  |management  |married |tertiary |no     |231    |yes    |no  |unknown|5   |may  |139     |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|28  |management  |single  |tertiary |no     |447    |yes    |yes |unknown|5   |may  |217     |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|42  |entrepreneur|divorced|tertiary |yes    |2      |yes    |no  |unknown|5   |may  |380     |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|58  |retired     |married |primary  |no     |121    |yes    |no  |unknown|5   |may  |50      |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
|43  |technician  |single  |secondary|no     |593    |yes    |no  |unknown|5   |may  |55      |1       |-1   |0       |unknown |no  |
|null|null        |null    |null     |null   |null   |null   |null|null   |null|null |null    |null    |null |null    |null    |null|
+----+------------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+----+
only showing top 20 rows

Give marketing success rate. (No. of people subscribed / total no. of entries)

In [8]:
#PySpark 
yes_count = df.filter(col('y') == 'yes').agg(count(col("y"))).collect()[0][0]
total_count = df.agg(count(col('y'))).collect()[0][0]
success_rate = (yes_count / total_count) * 100
print(success_rate)

11.698480458295547

In [9]:
#Using spark.sql
df.createOrReplaceTempView("Banking")

yes_count = spark.sql("SELECT COUNT(*) FROM Banking WHERE y = 'yes'").collect()[0][0]
total_count = spark.sql("SELECT COUNT(*) FROM Banking where y is not NUll").collect()[0][0]
success_rate = (yes_count / total_count) * 100
print(success_rate)

11.698480458295547

Give marketing failure rate

In [10]:
#PySpark
no_count = df.filter(col('y') == 'no').agg(count(col("y"))).collect()[0][0]
total_count = df.agg(count(col('y'))).collect()[0][0]
failure_rate = (no_count / total_count) * 100
print(failure_rate)

88.30151954170445

In [11]:
#Using spark.sql
df.createOrReplaceTempView("Banking")
no_count = spark.sql("SELECT COUNT(*) FROM Banking WHERE y = 'no'").collect()[0][0]
total_count = spark.sql("SELECT COUNT(*) FROM Banking where y is not NUll").collect()[0][0]
failure_rate = (no_count / total_count) * 100
print(failure_rate)

88.30151954170445

Maximum, Mean, and Minimum age of the average targeted customer

In [12]:
#PySpark
print("Maximum, Mean, and Minimum age of the average targeted customer's are : ")
for i in range(3):
	print(df.agg(max(col('age')), min(col('age')), mean(col('age'))).collect()[0][i])

Maximum, Mean, and Minimum age of the average targeted customer's are :
95
18
40.93621021432837

In [13]:
# Using spark.sql
maximum_Age = spark.sql("select max(age) from Banking where y is not Null").collect()[0][0]
mean_Age = spark.sql("select mean(age) from Banking where y is not Null").collect()[0][0]
minimum_Age = spark.sql("select min(age) from Banking where y is not Null").collect()[0][0]
print(maximum_Age, minimum_Age, mean_Age)

95 18 40.93621021432837

Check the quality of customers by checking the average balance, median balance of customers

In [14]:
print("Quality of customers by checking the average balance, median balance of customers : ")
for i in range(2):
	print(df.agg(avg(col('balance')), percentile_approx(col('balance'),0.5)).collect()[0][i])

Quality of customers by checking the average balance, median balance of customers :
1362.2720576850766
448

In [18]:
# Using spark.sql
average_balance = spark.sql("select percentile_approx(balance,0.5) from Banking where y is not Null").collect()[0][0]
median_balance = spark.sql("select mean(balance) from Banking where y is not Null").collect()[0][0]
print(average_balance, median_balance)

448 1362.2720576850766

Check if age matters in marketing subscription for deposit

In [15]:
df.select('age','y').where((df.y != '') & (df.y == 'yes')).groupby('age').agg(count(col('age'))).orderBy('age').show(truncate =False)

+---+----------+
|age|count(age)|
+---+----------+
|18 |7         |
|19 |11        |
|20 |15        |
|21 |22        |
|22 |40        |
|23 |44        |
|24 |68        |
|25 |113       |
|26 |134       |
|27 |141       |
|28 |162       |
|29 |171       |
|30 |217       |
|31 |206       |
|32 |221       |
|33 |210       |
|34 |198       |
|35 |209       |
|36 |195       |
|37 |170       |
+---+----------+
only showing top 20 rows

In [34]:
# Using spark.sql
result = spark.sql("SELECT count(*) as count, case when age < 13 then 'Kids' \
		   when (age >= 13) and (age <= 19) then 'Teenagers' \
           when (age > 19) and (age <= 30) then 'Youngsters' \
           when (age > 30) and (age < 50) then 'MiddleAgers' \
           else 'Seniors' END as age_group \
           FROM Banking where y is not Null \
           group by (age_group)").collect()

for i in result:
    print(i)

Row(count=6983, age_group='Youngsters')
Row(count=10194, age_group='Seniors')
Row(count=47, age_group='Teenagers')
Row(count=27987, age_group='MiddleAgers')

Check if marital status mattered for subscription to deposit.

In [16]:
df.select('marital','y').where((df.y != '') & (df.y == 'yes')).groupby('marital').agg(count(col('marital'))).show(truncate =False)

+--------+--------------+
|marital |count(marital)|
+--------+--------------+
|divorced|622           |
|married |2755          |
|single  |1912          |
+--------+--------------+

In [35]:
# Using spark.sql

result = spark.sql("SELECT count(*) as count, marital \
           FROM Banking where y is not Null \
           group by (marital)").collect()

for i in result:
    print(i)

Row(count=5207, marital='divorced')
Row(count=27214, marital='married')
Row(count=12790, marital='single')

Check if age and marital status together mattered for subscription to deposit scheme

In [17]:
df.select('age','marital','y').where((df.y != '') & (df.y == 'yes')).groupby('age','marital').agg(count(col('y'))).orderBy('age').show(truncate =False)

+---+--------+--------+
|age|marital |count(y)|
+---+--------+--------+
|18 |single  |7       |
|19 |single  |11      |
|20 |single  |14      |
|20 |married |1       |
|21 |single  |21      |
|21 |married |1       |
|22 |single  |40      |
|23 |married |2       |
|23 |single  |42      |
|24 |single  |58      |
|24 |married |10      |
|25 |married |14      |
|25 |single  |99      |
|26 |married |13      |
|26 |single  |121     |
|27 |married |29      |
|27 |single  |110     |
|27 |divorced|2       |
|28 |married |20      |
|28 |single  |138     |
+---+--------+--------+
only showing top 20 rows

In [39]:
# Using spark.sql

result = spark.sql("SELECT count(*) as count, marital,  case when age < 13 then 'Kids' \
		   when (age >= 13) and (age <= 19) then 'Teenagers' \
           when (age > 19) and (age <= 30) then 'Youngsters' \
           when (age > 30) and (age < 50) then 'MiddleAgers' \
           else 'Seniors' END as age_group \
           FROM Banking where y is not Null \
           group by marital, age_group").collect()

for i in result:
    print(i)

Row(count=170, marital='divorced', age_group='Youngsters')
Row(count=17427, marital='married', age_group='MiddleAgers')
Row(count=7386, marital='single', age_group='MiddleAgers')
Row(count=2061, marital='married', age_group='Youngsters')
Row(count=7726, marital='married', age_group='Seniors')
Row(count=3174, marital='divorced', age_group='MiddleAgers')
Row(count=47, marital='single', age_group='Teenagers')
Row(count=1863, marital='divorced', age_group='Seniors')
Row(count=4752, marital='single', age_group='Youngsters')
Row(count=605, marital='single', age_group='Seniors')